* {
  font-family: sans-serif;
}

/* Navigation container */
.navbar {
  overflow: hidden;
  background-color: pink;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  /* background: pink; */
  /* margin-top: 1%; */
  /* margin-right: 30%; */
  /* margin-bottom: 0%; */
  /* margin-left: 30%; */
}

/* Navigation links */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* WIP */
#intro {
  background: red;
  margin-right: 30%;
  margin-left: 30%;
}
