* {
  font-family: sans-serif;
}

/* Navigation container */
.navbar {
  overflow: hidden;
  background-color: pink;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  /* background: pink; */
  /* margin-top: 1%; */
  /* margin-right: 30%; */
  /* margin-bottom: 0%; */
  /* margin-left: 30%; */
}

/* Navigation links */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Picture and Name section */
.intro {
  background-color: blue;
  /* margin-right: 30%; */
  /* margin-left: 30%; */
}

.pic-column {
  float: left;
  width: 40%;
}

.-column {
  float: left;
  width: 60%;
}

#picture {
  display: block;
  margin-left: 40%;
  /* margin-right: 30%; */
  width: 50%;
  border-radius: 50%
}

#name {
  background-color: red;
  font-size: 500%;
}

#role {
  background-color: blue;
  font-weight: bold;
  font-size: 300%;
}
